@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-green: rgba(94, 181, 94, 0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: rgb(29, 29, 29);
}

@layer base {
  .center-flex {
    @apply flex items-center justify-center;
  }
}